##### Step 1 - Data Preprocessing Library

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

##### Step 2 - Importing Data

In [3]:
dataset = pd.read_csv("./Machine-Learning-A-Z-Codes-Datasets/Part 1 - Data Preprocessing/Section 2 -------------------- Part 1 - Data Preprocessing --------------------/Python/Data.csv")

In [5]:
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

##### Step 3 - Divide data into Features and Result vector

In [ ]:
X = dataset.iloc[:,:-1] #The colon here means range, a range in python includes the lower bound but exclude the upper bound
Y = dataset.iloc[:,-1]  #When we want only one particular column, we give the index of that particular column

In [23]:
X = X.to_numpy()
Y = Y.to_numpy()

In [22]:
print(type(X))
print(type(X.to_numpy()))
print(type(X.values))

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

##### Step 4 - Taking care of missing data